.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px; /* Ajuste le padding pour décaler vers le haut */
  background-size: cover;
}

.login-box {
  width: 600px; /* Augmentation de la taille */
  padding: 40px; /* Ajustement du padding */
  background: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Augmentation de l'ombre pour plus de profondeur */
  text-align: center;
  transform: translate(0, -20px); /* Ajusté pour décaler vers le haut */
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translate(0, -25px); /* Ajustement sur le hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }

  .logo {
    width: 150px; /* Légèrement agrandi */
    margin-bottom: 30px; /* Augmentation de l'espacement */
  }

  .user-box {
    position: relative;
    margin-bottom: 30px; /* Augmentation de l'espacement */

    input {
      width: 100%;
      padding: 15px; /* Augmentation du padding pour plus de confort */
      font-size: 18px; /* Agrandissement du texte */
      color: #333;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      background: transparent;

      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        top: -20px;
        left: 10px;
        color: #999;
        font-size: 12px;
      }
    }

    label {
      position: absolute;
      top: 15px; /* Ajustement de la position */
      left: 15px; /* Ajustement pour correspondre au padding */
      padding: 0 5px; /* Ajout d'un padding */
      background: white;
      color: #999;
      pointer-events: none;
      transition: 0.3s;
    }
  }

  .error-message {
    color: red;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    padding: 15px; /* Agrandissement du bouton */
    font-size: 18px; /* Agrandissement du texte */
    color: white;
    background: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background: #555;
    }
  }

  a {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}