header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: white;

    .logo img {
      height: 50px;
    }

    .nav {
      list-style: none;
      display: flex;
      gap: 20px;

      .item {
        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          font-size: 30px;

          &.active {
            font-weight: bold;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.projet {
  /* Add styles for your project section here */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px; /* Adjust padding to shift upwards */
  background-size: cover;
}

.login-box {
  width: 600px; /* Increased size */
  padding: 40px; /* Adjusted padding */
  background: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Increased shadow for more depth */
  text-align: center;
  transform: translate(0, -20px); /* Adjusted to shift upwards */
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translate(0, -25px); /* Adjusted on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }

  .logo {
    width: 150px; /* Slightly enlarged */
    margin-bottom: 30px; /* Increased spacing */
  }

  .user-box {
    position: relative;
    margin-bottom: 30px; /* Increased spacing */

    input {
      width: 100%;
      padding: 15px; /* Increased padding for more comfort */
      font-size: 18px; /* Enlarged text */
      color: #333;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      background: transparent;

      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        top: -20px;
        left: 10px;
        color: #999;
        font-size: 12px;
      }
    }

    label {
      position: absolute;
      top: 15px; /* Adjusted position */
      left: 15px; /* Adjusted to match padding */
      padding: 0 5px; /* Added padding */
      background: white;
      color: #999;
      pointer-events: none;
      transition: 0.3s;
    }
  }

  .error-message {
    color: red;
    margin-bottom: 50px;
  }

  button {
    width: 100%;
    padding: 15px; /* Enlarged button */
    font-size: 18px; /* Enlarged text */
    color: white;
    background: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background: #555;
    }
  }

  a {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}

