<header>
  <div class="navbar">
    <div class="logo">
      <img src="../assets/th1.jpg" alt="Logo">
    </div>
    <ul class="nav">
      <li class="item">
        <a href="/home1" routerLink="/home1" routerLinkActive="active">Home</a>
      </li>
      <li class="item">
        <a href="/login" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="item">
        <a href="/s'inscrire" routerLink="/s'inscrire" routerLinkActive="active">s'inscrire</a>
      </li>
    </ul>
  </div>
</header>

<br/><br/>

<div class="projet">

</div>

<br/><br/>
<span>
  <br/><br/>
  <router-outlet></router-outlet>
</span>
