<!--
Question : 
https://openclassrooms.com/forum/sujet/formulaire-de-contact-responsive
-->
<div class="container">
    <h1>Formulaire</h1>
    <form action="/action_page.php">
      <label for="fname">Nom & prénom</label>
      <input type="text" id="fname" name="firstname" placeholder="Votre nom et prénom">
  
      <label for="sujet">Nom Sujet</label>
      <input type="text" id="nom sujet" name="nom sujet" placeholder="L'objet de votre message">
  
      <label for="login">login</label>
      <input id="login" type="login" name="login" placeholder="votre login">

      <label for="password">password</label>
      <input id="password" type="password" name="password" placeholder="votre password">

      <label for="path">path</label>
      <input id="path" type="path" name="path" placeholder="path">

      <label for="adresse IP"> adresse IP </label>
      <input id="adresse" type="adresse" name="adresse IP" placeholder="adresse IP">
  
  
      <label for="subject">Message</label>
      <textarea id="subject" name="subject" placeholder="Votre message" style="height:200px"></textarea>
  
      <input type="submit" value="Envoyer">
    </form>
  </div>
  
  