<div class="container">
  <h1>Formulaire</h1>
  <form (submit)="onSubmit(username.value, password.value, host.value, remoteFilePath.value, description.value)">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" #username placeholder="Nom d'utilisateur">

    <label for="password">Mot de passe</label>
    <input type="password" id="password" #password placeholder="Mot de passe">

    <label for="host">Adresse IP</label>
    <input type="text" id="host" #host placeholder="Adresse IP">

    <label for="remoteFilePath">Chemin du fichier distant</label>
    <input type="text" id="remoteFilePath" #remoteFilePath placeholder="Chemin du fichier distant">
    
    <label for="description">Description</label>
    <textarea id="description" #description placeholder="Votre message" style="height:200px"></textarea>
    
    <input type="submit" value="Envoyer">
  </form>
</div>
